@font-face {
  font-family: Shadows;
  src: url('./fonts/shadowsintolight/ShadowsIntoLight.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('./fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto-Bold;
  src: url('./fonts/roboto/Roboto-Bold.ttf');
}

body{
  font-family: "Roboto", Times, serif;
}

.white {
  color: white;
}

.card-back {
  background-color: #eee;
  box-shadow: 1px 1px 15px #8c8c95;
  margin: 10px 0px;
}

.section {
  padding-right:0;
  padding-left:0;
  margin-right:auto;
  margin-left:auto;
}

.pad {
  padding: 15vw 5vw;
}

.eighty {
  height: 80vh;
}

.full-width {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.gray {
  background-color: #ddd;
}

.blue {
  background-color: #bbf;
}

.red {
  background-color: #fbb;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rectangle {
  border: solid thick #bbb;
  border-radius: 10px;
  padding: 5vw;
}

.squeeze {
  padding:10vw 10vw;
}

.mountain {
  background-image: url("./../images/mountain-range.jpg");
}

.picture {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.path {
  background-image: url('https://images.pexels.com/photos/2779419/pexels-photo-2779419.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
}

.embryo {
  background-image: url('../images/embryo.jpg');
}

.us {
  background-image: url('../images/us.jpg');
}

.fade-path {
  position: relative;
  background: none;
}

.fade-path::before {
  content: "";
  background-image: url('https://images.pexels.com/photos/2779419/pexels-photo-2779419.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  opacity: .3;
  position: absolute;
}

.fixed{
  background-attachment: fixed;
}

.animate {
  /* transform: translateX(50%); */
  opacity: 0;
  color: white;
}

.right{
  transform: translateX(100%);
}

.left{
  transform: translateX(-100%);
}

.animated {
  transition: 2s;
}

.product-card:hover {
  /* border: #ddd solid thick !important; */
  background-color: #ffffff !important;
}

input{
  font-size: 1.8em !important;
}

#submit {
  background-color: #00f;
  color: #fff;
}

.not-ready {
  background-color: #99f !important;
  color: #eee !important;
  /* cursor: not-allowed !important; */
}

.not-ready:hover {
  background-color: #bbb !important;
  color: #eee !important;
  /* cursor: not-allowed !important; */
}

input:focus{
    outline: none !important;
}

*:focus {
    outline: none !important;
}

.gradient {
  background: rgb(239,243,255);
background: radial-gradient(circle, rgba(239,243,255,1) 0%, rgba(211,222,246,1) 56%, rgba(190,190,190,1) 100%);
}

.input-group-text {
  background-color: #767676;
  color:#ffffff !important;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 575px) {

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .input-group {
    font-size: .5em;
  }
}
